artem-ogre <artem.ogre@gmail.com> <artem.ogre@gmail.com>
artem-ogre <artem.ogre@gmail.com> <artem.amirkhanov@leica-geosystems.com>
artem-ogre <artem.ogre@gmail.com> <artem> 
kalleakerblom <kalleakerblom@gmail.com> <karl.akerblom@leica-geosystems.com>
